<ion-header>
  <app-header>Teste</app-header>
</ion-header>
<ion-content >
  <div class="title-content">
    <p>Fechamento de caixa</p>
  </div>
  <div padding>
    <ion-segment [(ngModel)]="tipo">
      <ion-segment-button value="formaPgto">
        Forma de Pagamento
      </ion-segment-button>
      <ion-segment-button value="produto">
        Produtos
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tipo">
    <div *ngSwitchCase="'formaPgto'">
      <div class="subtitle-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="left">Natureza</p>
            </ion-col>
            <ion-col>
              <p class="center">Quantidade</p>
            </ion-col>
            <ion-col>
              <p class="right">Valor</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="itens">

        <div class="item">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p class="nat">Débito</p>
              </ion-col>
              <ion-col>
                <p class="qtd">{{fechamentoCaixa.qtdDebito}}</p>
              </ion-col>
              <ion-col>
                <p class="valor">{{formatMoney(fechamentoCaixa.valorDebito, 2, "R$ ", ".", ",")}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="item">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p class="nat">Crédito</p>
              </ion-col>
              <ion-col>
                <p class="qtd">{{fechamentoCaixa.qtdCredito}}</p>
              </ion-col>
              <ion-col>
                <p class="valor">{{formatMoney(fechamentoCaixa.valorCredito, 2, "R$ ", ".", ",")}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="item">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p class="nat">Dinheiro</p>
              </ion-col>
              <ion-col>
                <p class="qtd">{{fechamentoCaixa.qtdDinheiro}}</p>
              </ion-col>
              <ion-col>
                <p class="valor">{{formatMoney(fechamentoCaixa.valorDinheiro, 2, "R$ ", ".", ",")}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </div>

      <div class="resumo-total">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>TOTAL</h2>
            </ion-col>
            <ion-col>
              <h3>{{formatMoney(fechamentoCaixa.valorTotal, 2, "R$ ", ".", ",")}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="ticket-medio">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>Ticket médio</h2>
            </ion-col>
            <ion-col>
              <h3>{{formatMoney(fechamentoCaixa.valorMedio, 2, "R$ ", ".", ",")}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div *ngSwitchCase="'produto'" class="lista-produto">
      <div class="subtitle-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="left">Produto</p>
            </ion-col>
            <ion-col>
              <p class="center">Quantidade</p>
            </ion-col>
            <ion-col>
              <p class="right">Valor</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="itens">

        <div class="item" *ngFor="let produtoSumarizado of produtosVendidos">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p class="nat">{{produtoSumarizado.produto.name}}</p>
              </ion-col>
              <ion-col>
                <p class="qtd">{{produtoSumarizado.quantidade}}</p>
              </ion-col>
              <ion-col>
                <p class="valor">{{formatMoney(produtoSumarizado.valor, 2, "R$ ", ".", ",")}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </div>
      <div class="resumo-total">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>TOTAL</h2>
            </ion-col>
            <ion-col>
              <h3>{{formatMoney(fechamentoCaixa.valorTotal, 2, "R$ ", ".", ",")}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>


  <div class="footer">
    <button ion-button color="success" (click)="fecharCaixa()">Fechar</button>
  </div>

</ion-content>