page-fechamento {
    .lista-produto{
        padding-bottom: 90px;
    }
    .item{
        padding: 13px 20px;
        
        h5 {
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            color: #656565;
        }
        p{
            font-size: 13px;
            font-weight: 400;
            margin: 0;
            color: #999;
            
            span{
                color: #f98e1d;
            }
            
        }
        .qtd {
            text-align: center;
        }
        .valor{
            text-align: right;
            color: #f98e1d;
        }
    }

    .itens {
        margin-bottom: 0px;
    }

    .grid {
        padding: 0px;
    }

    .col {
        padding: 0px;
    }

    .subtitle-content {
        p{
            margin: 7px 0;
            font-size: 12px;
        }
    }
}
