<ion-header>
  <app-header>Teste</app-header>
</ion-header>
<ion-content overflow-scroll="true">
  <div class="title-content">
    <p>Dividir conta</p>
  </div>

  <div class="subtitle-content">
    <h4>Valor Total das Compras:&nbsp;{{formatMoney(fechamento.valorTotal, 2, "R$ ", ".", ",")}}</h4>
  </div>

  <div *ngFor="let d of fechamento.divisaoContas; let i = index">
    <div class="subtitle-content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Conta&nbsp;{{i+1}}</p>
          </ion-col>
          <ion-col align-self-end>
            <ion-input type="number" class="inserir-valor" [(ngModel)]="d.valorConta" (ionBlur)="dividirConta(i)"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="formas-pagamento">
      <p>Selecione a forma de pagamento</p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button [ngClass]="(d.formaPagamento === 'credito') ? 'btn btn-selected' : 'btn'" (click)="inserirPagamento('credito', d)">Crédito</button>
          </ion-col>
          <ion-col>
            <button [ngClass]="(d.formaPagamento === 'debito') ? 'btn btn-selected' : 'btn'" (click)="inserirPagamento('debito', d)">Débito</button>
          </ion-col>
          <ion-col>
            <button [ngClass]="(d.formaPagamento === 'dinheiro') ? 'btn btn-selected' : 'btn'" (click)="inserirPagamento('dinheiro', d)">Dinheiro</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- <div class="dinheiro-selecionado" *ngIf="d.formaPagamento === 'dinheiro'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Valor Pago</h2>
          </ion-col>
          <ion-col>
            R$
            <ion-input type="number" class="inserir-valor" [(ngModel)]="d.valorPago" (ionBlur)="recalcularDivisaoConta(d, i)" [readonly]="d.formaPagamento != 'dinheiro'"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <h3>Troco</h3>
          </ion-col>
          <ion-col>
            R$
            <ion-input type="number" class="inserir-valor" [(ngModel)]="d.valorTroco" (ionBlur)="recalcularDivisaoConta(d, i)"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </div>

  <div class="spacer"></div>

  <div class="footer">
    <button class="finalizar" (click)="fecharConta()">Finalizar</button>
  </div>
</ion-content>