page-dividir-conta {
    .spacer{
        height: 60px;
    }
    .footer button {
        background: #1eaf23;
    }
    .subtitle-content{
        padding: 0px 20px;
        .col{
            padding: 0px;
        }
        .grid {
            padding: 0px;
        }

        input {
            background: transparent;
            border: 0px none;
            border-bottom: 2px solid #f98e1d;
            width: 70px;
            text-align: center;
            float: right;
        }

        input::before {
            content: "R$";
        }

        p {
            margin: 0;
            line-height: 38px;
            color: #f98e1d;
            font-weight: 600;
        }
    }
    
}
