<ion-header>
  <app-header>Teste</app-header>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let page of pages">
      <div class="title-content">
        <p>{{page?.section?.name}}</p>
      </div>
      <div class="subtitle-content">
        Itens
      </div>
      <div class="itens">
        <div *ngFor="let produto of page.products" >
          <produto-item [produto]="produto"></produto-item>
        </div>
      </div>
    </ion-slide>
    <pagination-controls id="server" (pageChange)="p = $event"></pagination-controls>
  </ion-slides>
  <div class="spacer"></div>

  <div class="footer">
    <div class="total">
      <p class="qtd_itens">{{fechamento.quantidadeItens}} itens</p>
      <p class="total_valor">{{formatMoney(fechamento.valorTotal, 2, "R$ ", ".", ",")}}</p>
    </div>
    <button ion-button (click)="goToResumo()" color="primary">Próximo</button>
  </div>

</ion-content>