<div [ngClass]="(pedido.quantidade > 0) ? 'item selected' : 'item'">
<!-- <div class="item"> -->
  <div class="description">
    <h4>{{produto.name}}</h4>
    <p>{{home.formatMoney(produto.valor, 2, "R$ ", ".", ",")}}</p>
  </div>
  <div class="options">
    <button type="button" class="add" (click)="add()">
      <img src="assets/imgs/icons/add.svg">
    </button>
    <button type="button" class="subtract" (click)="subtract()">
      <img src="assets/imgs/icons/subtract.svg">
    </button>
    <input type="number" disabled class="quantidade" [(ngModel)]="pedido.quantidade">
  </div>
</div>