<ion-menu [content]="content" side="right" enabled="true" id="my-menu" persistent="false">
  <ion-content>
    <ion-list>
      <ion-item class="info">
          <info [company]="company"></info>
      </ion-item>
      <p>Menu</p>
      <button menuClose (click)="home()">Home</button>
      <button menuClose (click)="contas()">Contas Fechadas</button>
      <button menuClose (click)="fechamento()">Fechamento</button>
      <button menuClose (click)="sobre()">Sobre</button>
      <button menuClose (click)="logout()">Sair</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage" ></ion-nav>