// App Global Sass
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
ion-app.md {
    font-family: 'Open Sans', 'Roboto';
}

.toolbar-background {
    background: #f98e1d;
    border: 0px none;
}

.toolbar-title {
    color: #fff;
}

.logo {
    max-width: 115px;
    margin-top: 6px;
}

.info {
    background: #773f06;
    font-size: 28px;
    color: white;
    * {
        border: 0px !important;
    }
}

.top {
    background: #f8f8f8;
    padding: 15px 20px;
    float: left;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px solid #eee;
    .user {
        display: block;
        float: left;
        margin-right: 15px;
    }
    p {
        margin: 0px;
        color: #999;
        max-width: 230px;
        font-size: 12px;
        font-weight: 100;
    }
    .top-info {
        float: left;
    }
    h1 {
        margin-top: 10px;
        color: #f98e1d;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    h3 {
        padding-left: 15px;
        font-size: 17px;
        padding-bottom: 7px;
        padding-top: 5px;
        border-top: 1px solid #fff;
        color: #6b6b6b;
        margin-bottom: 0px;
    }
    .value_total {
        max-width: 200px;
        border: 0px none;
        background: #eee;
    }
}

.item {
    border-bottom: 1px solid #eee;
    padding: 0px 20px;
    padding: 13px 20px 5px 20px;
    .description {
        width: 55%;
        float: left;
        h4 {
            margin-top: 4px;
            font-size: 13px;
            color: #555;
            margin-bottom: 4px;
            text-align: left;
        }
        p {
            float: left;
            margin-top: 0px;
            color: #aaa;
            font-size: 13px;
        }
    }
    .options {
        width: 45%;
        float: left;
        .quantidade {
            border-radius: 7px;
            border: 1px solid #eee;
            background: #f9f9f9;
            height: 40px;
            width: 38px;
            float: right;
            margin-top: 2px;
            color: #888;
            text-align: center;
            font-size: 14px;
        }
    }
}

.footer {
    z-index: 150000;
    width: 100%;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #e1e1e1;
    background: #fff;
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.08);
    button {
        color: white;
        padding: 14px 30px;
        border-radius: 4px;
        width: 100%;
        font-size: 14px;
    }
}

.itens {
    margin-bottom: 35px;
}

.header-md::after {
    background-image: none;
}

.toolbar-ios ion-title {
    padding: 0px 20px;
}

.scroll-content {
    overflow-y: auto;
}

.title-content {
    p {
        margin: 8px 0px;
        text-align: center;
        color: #f98e1d;
        font-weight: 600;
        font-size: 13px;
    }
}

.subtitle-content {
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
    padding: 4px 20px;
    font-size: 13px;
    color: #959595;
    text-align: left;
    border-top: 1px solid #eee;
}

.item .options .add {
    background: #f98e1d;
    font-size: 28px;
    float: right;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    margin-left: 8px;
    border-radius: 16px;
    padding: 2px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    box-shadow: 0 5px 0 #e97d0c;
    color: #fff;
}

.item .options .add:hover {
    background: #f9972f;
}

.item .options .subtract {
    background: #e9e9e9;
    font-size: 28px;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    margin-left: 8px;
    border-radius: 16px;
    padding: 2px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    box-shadow: 0 5px 0 #dedede;
    color: #fff;
    float: right;
}

.item .options .subtract:hover {
    background: #e9e9e9;
}

.item .options button img {
    height: 15px;
}

ion-slides {
    height: auto;
    padding-bottom: 100px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    display: block !important;
}

.swiper-pagination-bullet-active {
    background: #f98e1d;
    opacity: 1;
}

.selected {
    background: #f5f5f5;
}

.total {
    margin-top: -8px;
    margin-bottom: 10px;
    .qtd_itens {
        margin: 0 0 0px 20px;
        font-size: 13px;
        font-weight: 600;
        color: #888;
        display: inline;
    }
    .total_valor {
        display: inline;
        margin: 0 20px 0px 0px;
        font-size: 13px;
        font-weight: 600;
        color: #f98e1d;
        float: right;
    }
}

.menu {
    float: right;
    margin-top: 4px;
    cursor: pointer;
    padding: 0px 10px 0px 20px;
}

.item .col {
    padding: 0px;
}

.item .grid {
    padding: 0px;
}

.formas-pagamento {
    background: #f2f2f2;
    padding: 8px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.formas-pagamento p {
    margin: 0;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
}

.formas-pagamento .btn {
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: #f98e1d;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.btn-selected {
    background: #f98e1d !important;
    color: #fff !important;
}

.dinheiro-selecionado {
    padding: 8px 15px;
}

.dinheiro-selecionado .col {
    padding: 0px;
}

.dinheiro-selecionado .grid {
    padding: 0px;
}

.dinheiro-selecionado h2 {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #f98e1d;
    line-height: 38px;
}

.dinheiro-selecionado .inserir-valor {
    border-radius: 4px;
    max-width: 101px;
    text-align: center;
    float: right;
    height: 35px;
    font-size: 14px;
    color: #f98e1d;
    font-weight: 600;
    border: 1px solid #ddd;
    background: #fafafa;
}

.dinheiro-selecionado h3 {
    font-size: 14px;
    margin-top: 14px;
    color: #888;
    font-weight: 600;
}

.dinheiro-selecionado p {
    font-size: 14px;
    margin-top: 14px;
    color: #888;
    font-weight: 600;
    text-align: right;
}

.bar-button-default-ios {
    color: #fff;
}

.bar-button-default-md {
    color: #d06b00;
}

.back-button-md {
    margin: 0px;
    min-width: 15px;
    padding: 0px;
    margin-left: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.resumo-total {
    background: #f98e1d;
    padding: 15px 20px;
    color: #fff;
    h2 {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
    }
    h3 {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
        float: right;
    }
}

.ticket-medio {
    background: #fafafa;
    padding: 15px 20px;
    color: #888;
    border-bottom: 1px solid #ddd;
    h2 {
        margin: 0;
        font-weight: 400;
        font-size: 13px;
    }
    h3 {
        margin: 0;
        font-weight: 400;
        font-size: 13px;
        float: right;
    }
}

.menu-inner ion-content {
    margin-top: 0px;
}

.menu-inner .scroll-content {
    top: 0px;
}

ion-menu ion-content {
    background: #e97d0c !important;
    color: #fff !important;
    p {
        padding-left: 20px;
        padding-bottom: 15px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
        background: #f7f7f7;
        text-align: center;
        padding-top: 15px;
        color: #e97d0c;
        font-size: 16px;
    }
    button {
        width: 100%;
        text-align: left;
        background: none;
        color: #fff;
        padding: 15px 20px;
        border-bottom: 1px solid #de7200;
    }
}

.md .menu-inner {
    background: transparent;
}

.informacoes {
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    p {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 13px;
        color: #888;
    }
    h5 {
        font-size: 13px;
        line-height: 30px;
        font-weight: 500;
        color: #f98e1d;
    }
}