<ion-content padding>
  <div class="intro">
      <div class="main">
          <img src="assets/imgs/logo-menu.png" alt="">
          <p>Gerencie seu estabelecimento com mais eficiência</p>
      </div>
  </div>


  <!-- <div class="bottom-intro">
    <button (click)="login('tlopes@gmail.com')">Entrar - Ciente 1</button>
    <br>
    <button (click)="login('robsonataide@gmail.com')">Entrar - Ciente 2</button>
  </div> -->

  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

    <ion-item>
      <ion-input type="email" placeholder="E-mail" formControlName="email" autocomplete="false"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Senha" formControlName="password" autocomplete="false"></ion-input>
    </ion-item>

    <br>
    <button ion-button full type="submit" [disabled]="signinForm.invalid">Entrar</button>

  </form>

</ion-content>