page-intro {
    
    .intro{
        text-align: center;
        margin: 15%;
        color: rgb(82, 33, 1);
    }

    ion-content{
        overflow: hidden;
        background-size: cover;
        background: rgba(255,103,76,1);
        background: -moz-linear-gradient(top, rgba(255,103,76,1) 0%, rgba(255,146,10,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,103,76,1)), color-stop(100%, rgba(255,146,10,1)));
        background: -webkit-linear-gradient(top, rgba(255,103,76,1) 0%, rgba(255,146,10,1) 100%);
        background: -o-linear-gradient(top, rgba(255,103,76,1) 0%, rgba(255,146,10,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,103,76,1) 0%, rgba(255,146,10,1) 100%);
        background: linear-gradient(to bottom, rgba(255,103,76,1) 0%, rgba(255,146,10,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff674c', endColorstr='#ff920a', GradientType=0 );
        color: #fff;
    }
    ion-item, .item-ios {
        padding-left: 0px;
    }

    h4 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    h1 img {
        max-width: 120px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .item-md, .text-input-ios {
        background-color: transparent;
        padding-left: 0px;
        color: #fff;
    }

    .item-ios {
        background-color: transparent;
    }

    .input-has-focus .item-inner{
        border-bottom-color: color($colors, primary) !important;
        box-shadow: inset 0 -1px 0 0 color($colors, primary) !important;
    }

    form{
        background-color: rgba(0, 0, 0, 0.479);
        padding: 10px 20px;
        border-radius: 10px;
    }

    .text-input, .text-input-ios {
        margin: 18px 8px 11px 0;
    }

    .button-md, .button-ios {
        background: color($colors, primary);
        border-radius: 30px;
        text-transform: none;
        height: 48px;
        font-weight: 600;
        
    }

    .text-input::-webkit-input-placeholder { 
        color: #eee;
        font-size: 14px;
    }

    .text-input::-moz-placeholder { 
        color: #eee;
        font-size: 14px;
    }
    
    .text-input:-ms-input-placeholder { 
        color: #eee;
        font-size: 14px;
    }
    .text-input:-moz-placeholder { 
        color: #eee;
        font-size: 14px;
    }

    .item {
        border-bottom: unset;
        padding: 0px 20px;
        padding: 13px 20px 5px 20px;
      }

}
