  <ion-navbar #navBar>
    <ion-title>
      <img src="assets/imgs/logo-menu.png" alt="" class="logo">
      <span class="menu" (click)="openMenu()">
        <ion-icon ios="md-more" md="md-more"></ion-icon>
      </span>
    </ion-title>
  </ion-navbar>