app-header {
    .back-button-text, .back-button-text-ios{
        display: none;
    }
    .toolbar-background {
        background: #f98e1d;
        border: 0px none;
    }
    .toolbar-title {
        color: #fff;
        text-align: left;
    }
    .logo {
        padding-left: 8px;
        max-width: 115px;
        margin-top: 6px;
    }
    .top {
        background: #f8f8f8;
        padding: 15px 20px;
        float: left;
        min-height: 100px;
        width: 100%;
        border-bottom: 1px solid #eee;
        .user {
            display: block;
            float: left;
            margin-right: 15px;
        }
        p {
            margin: 0px;
            color: #999;
            max-width: 230px;
            font-size: 12px;
            font-weight: 100;
        }
        .top-info {
            float: left;
        }
        h1 {
            margin-top: 10px;
            color: #f98e1d;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 3px;
        }
        h3 {
            padding-left: 15px;
            font-size: 17px;
            padding-bottom: 7px;
            padding-top: 5px;
            border-top: 1px solid #fff;
            color: #6b6b6b;
            margin-bottom: 0px;
        }
        .value_total {
            max-width: 200px;
            border: 0px none;
            background: #eee;
        }
    }
}