<ion-content>
  <div class="title-content">
    <p>Sobre</p>
  </div>
  <div class="informacoes">
    <p>Passa régua T.M Versão 0.1</p>
    <p>Todos os direitos reservados
      <br>para a Agilizeware do Brasil.</p>
    <h5>Para suporte entre contato através:</h5>
    <p>suporte@passaregua.com.br
      <br>+55 11 3253-7687</p>
    <p>De Seg. a Sex. das 09:00 às 20:00</p>
  </div>

  <ion-header>
    <app-header>Teste</app-header>
  </ion-header>
  <div class="footer">
    <button (click)="goToHome()">Fechar</button>
  </div>
</ion-content>