<ion-header>
  <app-header>Teste</app-header>
</ion-header>

<ion-content #content>
  <info>Teste</info>
  <div class="title-content">
    <p>Resumo</p>
  </div>
  <div class="subtitle-content">
    Itens
  </div>
  <div class="itens">
    <div *ngFor="let p of fechamento.pedidos; let i = index">
      <div [ngClass]="(i % 2 === 0) ? 'item' : 'item selected'">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h5>{{p.produto.name}}</h5>
            </ion-col>
            <ion-col>
              <p>{{formatMoney(p.produto.valor, 2, "R$ ", ".", ",")}}&nbsp;X&nbsp;{{p.quantidade}}&nbsp;=&nbsp;
                <span>{{calcularValorCorrente(p)}}</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

  <div class="dinheiro-selecionado">
    <div class="opcoes">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <ion-toggle [(ngModel)]="fechamento.caixinha" (ionChange)="recalcularValores()"></ion-toggle>
          </ion-col>
          <ion-col col-3>
            <span>Caixinha</span>
          </ion-col>
          <ion-col>
            <span *ngIf="fechamento.caixinha">
              R$
            </span>
          </ion-col>
          <ion-col>
            <span *ngIf="fechamento.caixinha">
              <ion-input type="number" class="inserir-valor" (ionChange)='ajustarTotal()' [(ngModel)]="fechamento.valorCaixinha"></ion-input>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
              <ion-toggle [(ngModel)]="fechamento.desconto" (ionChange)="recalcularValores()"></ion-toggle>
            </ion-col>
            <ion-col col-3>
              <span>Desconto</span>
            </ion-col>
            <ion-col>
              <span *ngIf="fechamento.desconto">
                R$
              </span>
            </ion-col>
            <ion-col>
              <span *ngIf="fechamento.desconto">
                <ion-input type="number" class="inserir-valor" (ionChange)='recalcularValores()' [(ngModel)]="fechamento.valorDesconto"></ion-input>
              </span>
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
  </div>
  
  <ion-item >
      <ion-label>Por quantos?</ion-label>
      <ion-select [(ngModel)]="fechamento.numeroContas" (ionChange)="goToDivirConta()">
        <ion-option *ngFor="let c of contas" [value]="c">{{c}}</ion-option>
      </ion-select>
    </ion-item>

  <div class="formas-pagamento" *ngIf="!contaDividida">
    <p>Selecione a forma de pagamento</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button [ngClass]="(fechamento.formaPagamento === 'credito') ? 'btn btn-selected' : 'btn'" (click)="selectFormaPagamento('credito')">Crédito</button>
        </ion-col>
        <ion-col>
          <button [ngClass]="(fechamento.formaPagamento === 'debito') ? 'btn btn-selected' : 'btn'" (click)="selectFormaPagamento('debito')">Débito</button>
        </ion-col>
        <ion-col>
          <button [ngClass]="(fechamento.formaPagamento === 'dinheiro') ? 'btn btn-selected' : 'btn'" (click)="selectFormaPagamento('dinheiro')">Dinheiro</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="spacer"></div>

  <div class="footer">
    <div class="subtitle-content">
      <h4>Total das Compras:&nbsp;{{formatMoney(fechamento.valorTotal, 2, "R$ ", ".", ",")}}</h4>
    </div>
    <button class="finalizar" (click)="fecharConta()" *ngIf="!contaDividida"> Finalizar</button>
  </div>

</ion-content>