page-resumo {
    .item {
        padding: 15px 20px;
        h5 {
            font-size: 13px;
            font-weight: 400;
            margin: 0;
            color: #656565;
        }
        p {
            font-size: 13px;
            font-weight: 400;
            margin: 0;
            color: #999;
            float: right;
            span {
                color: #f98e1d;
            }
        }
    }
    .itens {
        margin-bottom: 0px;
    }
    .footer {
        button {
            background: #1eaf23;
        }
    }

    .dividir-conta {
        padding: 5px 20px;

        .col {
            padding: 0px;
        }
        .grid {
            padding: 0px;
        }

        p{
            margin: 0px;
            line-height: 33px;
            font-size: 13px;
            color: #777;
        }
    
        button {
            height: 33px;
            border-radius: 4px;
            margin-left: 7px;
            width: 80px;
            color: #fff;
            font-size: 13px;
            background: darkgrey;
        }
    
        select {
            width: 65px;
            border-radius: 4px;
            height: 33px;
            color: #777;
            border-color: #f2f2f2;
            padding-left: 20px;
        }
    
        .options{
            float: right;
        }
    }

    .opcoes .col:nth-child(2) {
        padding-top: 8px;
    }
    .opcoes .col:nth-child(3) {
        padding-top: 8px;
        text-align: right;
        padding-right: 3px;
    }
 
    .subtitle-content {
        text-align: center;
    }
    .inserir-valor input{
        margin-top:6px;
    }
    .spacer{
        height: 150px;
    }
}