<ion-header>
  <app-header>Pagamento</app-header>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      Valor da Conta: {{ formatMoney(conta.valorConta, 2, "R$ ", ".", ",") }}
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating >Valor Pago</ion-label>
      <ion-input type="number" [(ngModel)]="conta.valorPago" clearOnEdit="true" (ionChange)="calculaTroco()"></ion-input>
    </ion-item>
    <ion-item *ngIf="formaPagamento == 'dinheiro'">
      <ion-label color="primary" floating >Troco</ion-label>
      <ion-input type="number" [(ngModel)]="conta.valorTroco" clearOnEdit="true" (ionChange)="verificaDescontoOuCaixinha()"></ion-input>
    </ion-item>
    <ion-item text-wrap text-right	>
      <p >Vai para a caixinha <b>{{ formatMoney(conta.valorCaixinha, 2, "R$ ", ".", ",") }}</b></p>
      <p >Desconto de <b>{{ formatMoney(conta.valorDesconto, 2, "R$ ", ".", ",") }}</b></p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer >
    <ion-toolbar detail-none no-lines color="primary">
        <ion-item>
            <button ion-button icon-left item-start (click)="cancelar()" color="cancel" icon-start>
              <ion-icon name="close-circle"></ion-icon>
              Cancelar
            </button>
            <button ion-button icon-right item-end (click)="salvar()" color="success" >
              Registrar Pagamento
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>
          </ion-item>
    </ion-toolbar>
</ion-footer>