page-pagamento-modal {
    .item-inner {
        border: 0px !important;
    }
    .footer {
        all: none;
        padding: 0px;
        
        .item {
            padding: 0px;
            border: 0px;
            background: unset;
            padding-left: 3px;
        }

        .item-inner{
            padding: 0px !important;
        }

        .item .button {
            padding: 10px;
            width: unset;
            height: 3.6rem;
        }
        
    }
}