<ion-header>
  <app-header>Teste</app-header>
</ion-header>

<ion-content>
  <ion-list>
    <div class="subtitle-content">
      Contas Fechadas
    </div>
    <ion-item-sliding *ngFor="let c of contas | async | reverse">
        <ion-item >
          <h2>Total: {{formatMoney(c.valorTotal, 2, "R$ ", ".", ",")}}</h2>
          <h3>
            {{ texto(c.formaPagamento) }}
          </h3>
          <p text-right>
            {{c.dtCreate | date:'dd/MM/yyyy H:mm'}}
          </p>
        </ion-item>
        <ion-item-options side="righ">
          <button ion-button color="danger" (click)="remove(c)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>