page-contas-fechadas {
    .item-inner{
        border:0px !important;
    }

    ion-item-divider{
        background-color: #dedede !important;
        height: 15px;
        padding: 2px 5px !important;
    }

    ion-item-options .button{
        font-size: 2em;
    }
}
